<div class="container">
  <img src="assets/images/logo2.webp" alt="Foto Profil" class="profile-pic" />
  <h1>Dafina Salon</h1>
  <p class="bio">Dafina Salon - Beauty Starts Here</p>

  <a href="https://wa.me/6289635938352" target="_blank" class="btn"
    >Chat WhatsApp</a
  >
  <a href="https://www.dafina.my.id" target="_blank" class="btn"
    >Kunjungi Website</a
  >
  <a href="https://www.dafina.my.id/#pricelist" target="_blank" class="btn"
    >Price List</a
  >
  <a href="https://www.instagram.com/dafina_salon/" target="_blank" class="btn"
    >Instagram</a
  >

  <a
    href="https://maps.app.goo.gl/baWBxLovkAKtMeXY9"
    target="_blank"
    class="btn"
    >Lokasi</a
  >
</div>
