<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm p-3">
  <div class="container">
    <a class="navbar-brand text-pink" href="#">
      <img
        src="./assets/images/logo.webp"
        width="127"
        height="47"
        class="responsive-img"
        alt="logo dafina"
      />
    </a>

    <!-- Tombol hamburger untuk mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu navbar -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#treatment">Treatments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricelist">Price List</a>
        </li>
        <li class="nav-item">
          <a routerLink="/blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a routerLink="/faq" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
